# Виртуальное окружение
venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Папки и файлы сборки
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Метафайлы пакетов
*.egg-info/
.installed.cfg
*.egg

# Файлы конфигурации PyInstaller
TPGenSolve.spec

# Логи
app.log
